---
import { Image } from "astro:assets";

import Wave from "../components/Wave.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import ProjectCard from "../components/ProjectCard.astro";

import headshot from "../images/josh-transparent-bg.png";

import iconScratch from "../images/social-icons/scratch.svg";
import iconGithub from "../images/social-icons/github.svg";
import iconYouTube from "../images/social-icons/youtube.svg";
import iconBlueSky from "../images/social-icons/bluesky.svg";
import iconDribbble from "../images/social-icons/dribbble.svg";
import iconLinkedIn from "../images/social-icons/linkedin.svg";

import logo3Blue1Brown from "../images/projects/logos/3blue1brown.svg";
import logoClownSchool from "../images/projects/logos/clown-school.png";
import logoLeopard from "../images/projects/logos/leopard.svg";
import logoRocketSpelling from "../images/projects/logos/rocket-spelling.svg";
import logoShuffleBuddy from "../images/projects/logos/shuffle-buddy.png";

import cover3Blue1Brown from "../images/projects/cover-images/3blue1brown.jpg";
import coverClownSchool from "../images/projects/cover-images/clown-school.jpg";
import coverGraphingCalculator from "../images/projects/cover-images/graphing-calculator.png";
import coverLeopard from "../images/projects/cover-images/leopard.png";
import coverOnlineMathLeague from "../images/projects/cover-images/online-math-league.jpg";
import coverRocketSpelling from "../images/projects/cover-images/rocket-spelling.jpg";
import coverShuffleBuddy from "../images/projects/cover-images/shuffle-buddy.jpg";
import coverTeacherTools from "../images/projects/cover-images/teacher-tools.jpg";
import coverTechCamps from "../images/projects/cover-images/tech-camps.jpg";
import coverThirdGradeMathGames from "../images/projects/cover-images/third-grade-math-games.jpg";
import GoogleAnalytics from "../components/GoogleAnalytics.astro";

const socialLinks = [
  {
    name: "Scratch",
    url: "https://scratch.mit.edu/users/PullJosh/",
    icon: iconScratch,
  },
  {
    name: "Github",
    url: "https://github.com/PullJosh",
    icon: iconGithub,
  },
  {
    name: "YouTube",
    url: "https://www.youtube.com/c/PullJosh",
    icon: iconYouTube,
  },
  {
    name: "BlueSky",
    url: "https://bsky.app/profile/pulljosh.com",
    icon: iconBlueSky,
  },
  {
    name: "Dribbble",
    url: "https://dribbble.com/PullJosh",
    icon: iconDribbble,
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/joshpullen/",
    icon: iconLinkedIn,
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Josh Pullen</title>
    <GoogleAnalytics />
  </head>

  <body>
    <Nav current="home" wavy={false} />

    <div class="bg-indigo-600 relative">
      <div
        class="max-w-2xl lg:max-w-4xl px-8 mx-auto pt-8 pb-16 lg:pt-24 lg:pb-32 relative"
      >
        <div class="text-center lg:text-left">
          <div
            class="size-32 relative sm:size-48 rounded-full bg-indigo-500 mx-auto overflow-hidden lg:bg-transparent lg:rounded-none lg:h-[95%] lg:aspect-square lg:w-auto lg:m-0 lg:absolute lg:bottom-0 lg:-right-8"
          >
            <Image
              class="absolute bottom-0 w-full"
              src={headshot}
              alt="Headshot of Josh Pullen"
              loading="eager"
            />
          </div>

          <h1 class="text-2xl sm:text-4xl text-indigo-300">
            Hi! I'm Josh Pullen.
          </h1>
          <h2
            class="text-4xl sm:text-7xl font-extrabold text-white whitespace-nowrap"
          >
            I love <span class="text-yellow-300">education</span>
            <br />
            and <span class="text-green-400">technology</span>.
          </h2>
          <ul class="mt-4 -mx-2">
            {
              socialLinks.map((link, i) => (
                <li class="inline-block">
                  <a
                    href={link.url}
                    class="group block p-2 text-indigo-400 hover:text-white"
                    target="_blank"
                    rel="noreferrer"
                  >
                    <Image
                      class:list={[
                        "w-7 h-7 sm:w-8 sm:h-8 object-contain group-hover:brightness-200 group-hover:scale-110 transition-transform",
                        {
                          "group-hover:-rotate-6": i % 2 === 0,
                          "group-hover:rotate-6": i % 2 === 1,
                        },
                      ]}
                      loading="eager"
                      src={link.icon}
                      alt={`${link.name} logo`}
                      title={link.name}
                    />
                    <span class="sr-only">{link.name}</span>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>

      <Wave />
    </div>

    <div class="py-16 space-y-16">
      <div>
        <div class="max-w-2xl px-8 mx-auto">
          <h2 class="text-3xl text-gray-800 text-center sm:text-left">
            <span class="font-bold"
              >The <span class="relative inline border-b-4 border-indigo-600"
                >Spotlight</span
              ></span
            >
            <span class="text-gray-400 iatlic hidden sm:inline"
              >~ Highlighted Work</span
            >
          </h2>
        </div>
        <div
          class="mt-8 max-w-6xl px-8 mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 items-start"
        >
          <ProjectCard
            title="3Blue1Brown.com"
            createdAt="Summer 2021 (Age 19)"
            url="https://www.3blue1brown.com/"
            logo={logo3Blue1Brown}
            coverImage={cover3Blue1Brown}
            loading="eager"
          >
            Interactive, online math lessons adapted from 3Blue1Brown's popular
            YouTube videos
          </ProjectCard>
          <ProjectCard
            title="Leopard"
            createdAt="Fall 2018 (Age 16)"
            url="https://leopardjs.com/"
            logo={logoLeopard}
            coverImage={coverLeopard}
            loading="eager"
          >
            Converts Scratch projects to human-readable JavaScript code
            automatically
          </ProjectCard>
          <ProjectCard
            title="Rocket Spelling"
            createdAt="Spring 2016 (Age 14)"
            url="https://www.rocketspelling.com/"
            logo={logoRocketSpelling}
            coverImage={coverRocketSpelling}
            loading="eager"
          >
            An online spelling game for elementary students
          </ProjectCard>
        </div>
      </div>
      <div>
        <div class="max-w-2xl px-8 mx-auto">
          <h2 class="text-3xl text-gray-800 text-center sm:text-left">
            <span class="font-bold"
              >The <span class="relative inline border-b-4 border-indigo-600"
                >Laboratory</span
              ></span
            >
            <span class="text-gray-400 iatlic hidden sm:inline"
              >~ Experiments In Progress</span
            >
          </h2>
        </div>

        <div class="mt-8 max-w-6xl px-8 mx-auto">
          <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 items-start"
          >
            <ProjectCard
              title="Shuffle Buddy"
              createdAt="Spring 2025"
              url="https://shufflebuddy.com/"
              logo={logoShuffleBuddy}
              coverImage={coverShuffleBuddy}
            >
              Shuffle your seating charts–while respecting your students’
              individual needs.
            </ProjectCard>
            <ProjectCard
              title="Mr. Pullen's Graphing Calculator"
              createdAt="Fall 2022"
              url="https://calculator.mrpullen.com/"
              coverImage={coverGraphingCalculator}
            >
              A 1D, 2D, and 3D graphing calculator that's great for artistic
              creation
            </ProjectCard>
            <ProjectCard
              title="Clown School"
              createdAt="Spring 2022"
              url="https://clown-school.mrpullen.com/"
              logo={logoClownSchool}
              coverImage={coverClownSchool}
            >
              Simple, interactive, visual explanations of core mathematical
              ideas
            </ProjectCard>
            <ProjectCard
              title="Teacher Tools"
              createdAt="Spring 2021 (Age 19)"
              url="https://teacher-tools.joshuapullen.com/"
              coverImage={coverTeacherTools}
            >
              Collection of useful utilities for teachers
            </ProjectCard>
          </div>
        </div>
      </div>
      <div>
        <div class="max-w-2xl px-8 mx-auto">
          <h2 class="text-3xl text-gray-800 text-center sm:text-left">
            <span class="font-bold"
              >The <span class="relative inline border-b-4 border-indigo-600"
                >Museum</span
              ></span
            >
            <span class="text-gray-400 iatlic hidden sm:inline"
              >~ These Projects Made Me</span
            >
          </h2>
        </div>

        <div
          class="mt-8 max-w-6xl px-8 mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 items-start"
        >
          <ProjectCard
            title="Online Math League Website"
            createdAt="Summer 2018 (Age 16)"
            coverImage={coverOnlineMathLeague}
          >
            Website where Online Math League teams can submit and view their
            scores and take practice math tests
          </ProjectCard>
          <ProjectCard
            title="Third Grade Math Games"
            createdAt="Winter 2017 (Age 16)"
            url="https://pulljosh.github.io/thirdgrademathgames/"
            coverImage={coverThirdGradeMathGames}
          >
            A collection of math games for 3rd grade students
          </ProjectCard>
          <ProjectCard
            title="Kids' Technology Camps"
            createdAt="Summer 2016 (Age 14)"
            coverImage={coverTechCamps}
          >
            Scratch, web development, and robotics summer camps right here in
            Michigan
          </ProjectCard>
        </div>
      </div>
    </div>

    <Footer />
  </body>
</html>
